block scripts
	script(src='/js/jquery.min.1.10.2.js')
	script(src='/js/hammer.js')
	script(src='/js/jpanelmenu.js')
	script(src='/js/bootstrap.js')
	script(src='/js/functions.js')
	script(src='/js/darren.js')
	script(src='/js/stefan.js')
	script(src='/js/registration.js')
	script(src='/js/validetta.js')
	